<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/img/mini-logo.png" rel="icon">
    <title>@ViewBag.Title - Décaissement Fournisseur</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link href="~/assets/font-awesome/css/all.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/assets/plugins/chart.js/Chart.min.css" />

    <link href="~/assets/plugins/datetimepicker/css/daterangepicker.css" rel="stylesheet" />
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                width: 300px;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>

    <div class="headerbar">

        <!-- LOGO -->
        <div class="headerbar-left">
            <a href="index.html" class="logo">

                <span>Ultras Sfaxiens </span>
            </a>
        </div>

        <nav class="navbar-custom">


            <div class="col-md-2" style="float:right;">

                <div class="dropdown">

                    <a href="#" style="color:white;font-size:20px;margin-top:10%;" type="button">Profile <b class="caret"></b></a>
                    <div class="dropdown-content">

                        <a>
                            <strong style="font-size:130%;">Identifiant</strong><br />@if (@Session["FullName"] != null)
                            {<div style="font-size:130%;">@Session["FullName"] </div>}
                        </a>

                        
                        <a>
                            <strong style="font-size:130%;">Role</strong><br />@if (@Session["Role"] != null)
                            {<div style="font-size:130%;">@Session["Role"]</div>}
                        </a>
                        <a style="text-decoration:none;" href="@Url.Action("Logout","Login")"><center>Déconnexion</center> </a>
                    </div>

                </div>
            </div>



            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left">
                        <i class="fas fa-bars"></i>
                    </button>
                </li>
            </ul>

        </nav>

    </div>


    @RenderBody()

    <script src="~/assets/js/modernizr.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>

    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>


    <script src="~/assets/js/admin.js"></script>
    <script src="~/assets/plugins/chart.js/Chart.min.js"></script>


    <script src="~/assets/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>


    <script src="~/assets/data/data_charts_dashboard.js"></script>

    <script src="~/assets/plugins/datetimepicker/js/daterangepicker.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
